body{
background-color: blanchedalmond;
padding: 0px;
margin: 0px;
}

.box{

    width: 200px;
    height: 200px;
    background-color: blueviolet;
}

.c-violet{
    background-color: blueviolet;
}

.c-red{
    background-color: red;
}

.c-blue{
background-color: cornflowerblue;

}